.cart_section{
    margin: 0 auto;
    margin-block: 4rem;
    margin-bottom: 6.5rem;    
}


.cart_title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.cart_section hr {
    width: 300px;
    margin: 0 auto;
}


.cart_empty_section{
    padding: 2rem;
}

.cart_empty-cart_img{
    width: 200px;
    margin: 0 auto;
}

.cart_empty_title{
    font-size: 1.5rem;
    text-align: center;
}


.cart_card{
    margin: 0 auto;      
    padding: 2rem;    
    align-items: center;
    justify-content: center;    
}

.cart_card p {
    font-size: 1.1rem;
    text-align: center;
}

.cart-card_title{
    font-size: 1.2rem;
    text-align: center;
}

.cart_img{
    width: 200px;
    margin: 0 auto;
}

.remove{    
    display: flex;
    justify-self: center;
    padding: 10px 20px;    
    border: none;    
    background-color: black;
    color: white;
    font-size: 1rem;    
    border-radius: 5px;
    cursor: pointer;  
}

.clear{
    display: flex;
    justify-self: center;
    padding: 10px 20px;
    color: black;
    border: none;    
    background-color: rgb(77, 77, 77);
    color: white;
    font-size: 1rem;    
    border-radius: 5px;
    cursor: pointer;  
}


.cart_footer{
    margin-top: 1rem;
    text-align: center;
}

.cart_total{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cart_footer_buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
}

.cart_footer_button_finish {
    
    padding: 10px 20px;
    color: black;
    border: none;    
    background-color: rgb(209, 176, 157);
    color: white;
    font-size: 1rem;    
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .cart_section hr {
        width: 600px;        
    }

    .cart_empty-cart_img{
        width: 250px;        
    }

    .cart_img{
        width: 250px;        
    }
}


@media screen and (min-width: 1024px) {
    .cart_img{
        width: 100px;        
    }

    .cart_card{
        margin: 0 auto;
        width: 950px;    
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;    
    }

}

@media screen and (min-width: 1200px) {
    .cart_card{
        width: 1000px;             
    }
}