
.page-not-found{
   margin-bottom: 5rem;
}

.page-not-found_title1{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    
}

.page-not-found_title2{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    
}


.page-not-found_cactus{
    width: 250px;
    margin: 0 auto;
}