.remove{    
    /* display: flex;
    justify-self: center; */
    padding: 10px 20px;
    color: black;
    border: none;    
    background-color: black;
    color: white;
    font-size: 1rem;    
    margin: 0 auto;
    margin-top: 15px;    
    border-radius: 5px;
    cursor: pointer;  
}