
.imgPort{
    height: 16rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position-x: 40%;
}


.titulo_portada{
    color: black;
    font-size: 2.8rem;
    font-weight: 300;    
    margin-left: 50px;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    background-color: rgb(255, 255, 255, 0.55);
    text-align: end;

    width: min-content;
    min-width: 300px;
    
}


@media screen and (min-width: 768px) {
    .imgPort{
        background-position-x: 90%;
    }
    
    .titulo_portada{
        margin-left: 0;
        margin-right: 50px;
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .imgPort{
        background-position-x: center;
    }
    
    .titulo_portada{
        margin-left: 0;
        margin-right: 50px;
       
    }
}

@media screen and (min-width: 1200px) {
    .titulo_portada{
        margin-right: 100px;
    }
}