
.imgHero{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.titulo_banner{
    font-size: 3rem;   
    color: black;
    font-weight: 300;    
    margin-left: 50px;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    background-color: rgb(255, 255, 255, 0.55);
    width: fit-content;
    text-align: end;
}

@media screen and (min-width: 768px) {
    .titulo_banner{
        margin-left: 0;
        margin-right: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .titulo_banner{
        margin-right: 50px;
    }
}