.page-not-found{
    margin: 0 auto;
    margin-block: 4rem;
}
 
.page-not-found hr {
    width: 600px;
    margin: 0 auto;
}

.page-not-found_title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
 

.page-not-found_cactus{
     width: 250px;
     margin: 0 auto;
 }

.page-not-found_footer{
    margin-top: 2rem;
    text-align: center;
}